.pricing {
    margin-top: 40px;
    text-align: center;
    color: var(--primary-white);
}
.pricing > div:first-child {
    font-size: 26px;
}
.header-seperator {
    height: 2px;
    background: var(--primary-cyan);
    width: 70px;
    margin: 5px auto;
}
.pricing > div:nth-child(3) {
    font-size: 16px;
}
.pricing > div:nth-child(4) {
    margin-top: 20px;
}
.pricing-box {
    display: inline-block;
    width: 200px;
    height: 240px;
    margin: auto 10px;
    background-color: var(--black-deep-dark);
    vertical-align: top;
    font-size: 14px;
    border: 2px solid var(--secondary-dark-gray);

    -webkit-transition: -webkit-transition 0.2s;
    -moz-transition: -moz-box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.pricing-box.active {
    background: linear-gradient(to bottom right, var(--primary-cyan), var(--white));
    padding: 2px;
    border: none;
}
.pricing-box.active > div {
    background: var(--black-deep-dark);
    height: 100%;
    width: 100%;
}
.pricing-box:hover {
    cursor: pointer;
    -moz-box-shadow: 0px 0px 50px 15px #00000073;
    -webkit-box-shadow: 0px 0px 50px 15px #00000073;
    box-shadow: 0px 0px 50px 15px #00000073;
    -moz-transition: -moz-box-shadow 0.2s;
    -webkit-transition: -webkit-transition 0.2s;
    transition: box-shadow 0.2s;
}
.pricing-box > div > img {
    margin-top: 7px;
    margin-bottom: 7px;
    height: 50px;
}
.pricing-box > div > div > span {
    color: var(--primary-cyan);
    font-size: 28px;
}
.seperator {
    height: 2px;
    background: linear-gradient(to right, var(--primary-cyan), var(--primary-white));
    width: 50px;
    margin: 8px auto;
}

.credit-card {
    margin-top: 40px;
    text-align: center;
}
.credit-card > div:first-child {
    color: var(--primary-white);
    font-size: 16px;
}

.circular-progress {
    text-align: center;
    margin-top: 40px;
}

.learn-from-hires-section {
    margin-top: 70px;
}
.feature-box {
    width: 350px;
    height: 120px;
    display: inline-flex;
    vertical-align: top;
    position: relative;
    margin: 15px 10px;
}
.feature-box > div:first-child {
    width: 100px;
    text-align: center;
}
.feature-box > div:last-child {
    width: 300px;
    text-align: left;
}
.feature-box img {
    height: 64px;
}

.update-cancel {
    color: var(--primary-white);
    font-size: 16px;
}
.update-cancel > div:first-child {
    display: inline-block;
    cursor: pointer;
}
.update-cancel > div:first-child:hover {
    color: var(--primary-cyan);
}
.update-cancel > div:nth-child(2) {
    display: inline-block;
    margin: 0 15px;
}
.update-cancel > div:nth-child(3) {
    display: inline-block;
    cursor: pointer;
}
.update-cancel > div:nth-child(3):hover {
    color: var(--secondary-red);
}

@media only screen and (max-width: 800px) {
    .feature-box {
        width: 300px;
        margin: 10px 5px;
    }
    .feature-box img {
        height: 54px;
    }
    .update-cancel {
        font-size: 14px;
    }
}


@media screen and (max-width: 700px) {
    .pricing > div:first-child {
        font-size: 22px;
    }
    .pricing > div:nth-child(3) {
        font-size: 14px;
    }
    .credit-card > div:first-child {
        font-size: 14px;
    }
    .pricing-box > div > div > span {
        font-size: 22px;
    }

    .feature-box {
        width: 200px;
    }
    .feature-box > div:first-child {
        width: 100px;
        text-align: center;
    }
    .feature-box > div:last-child {
        width: 200px;
    }
    .feature-box img {
        height: 44px;
    }
}

@media screen and (max-width: 500px) {
    .pricing > div:first-child {
        font-size: 16px;
    }
    .pricing-box > div > img {
        height: 35px;
    }
}
