.rpmImg {
    height: 250px;
}

.answersImg {
    display: inline-block;
    margin-left: 30px;
}
.answersImg > img {
    height: 70px;
}

@media only screen and (max-width: 700px) {
    .rpmImg {
        height: 200px;
    }

    .answersImg > img {
        height: 60px;
    }
}

@media only screen and (max-width: 400px) {
    .rpmImg {
        height: 150px;
    }

    .answersImg > img {
        height: 50px;
    }
}
