.button-and-nav {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 20px;
}

.agree-to-terms {
    margin: 15px -5px 0px;
}

@media screen and (max-width: 500px) {
    .agree-to-terms {
        margin: 20px 20px 0px;
    }
}

@media screen and (max-width: 400px) {
    .agree-to-terms {
        margin: 20px 0px 0px;
    }

    .claim-page-modal {
        min-height: 325px;
    }
}
