.hover-color {
    opacity: 0.7;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.hover-color:hover {
    border-bottom: none;
    opacity: 1;
}

.semi-transparent {
    opacity: 0.7;
}

.powered-by {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 5px;
}

.product-tour {
    display: inline-block;
    overflow-x: hidden;
    width: 83px;

    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
.product-tour.hide {
    width: 0px;
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 450px) {
    .powered-by {
        display: none;
    }
}
