.banner {
    font-size: 13px;
    text-align: center;
    background-color: var(--primary-black-light);
    padding: 10px 0;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 50;
    border-bottom: 1px solid var(--primary-black-dark);
}

.banner > div {
    margin: 5px 10px;
}

.extra-space {
    width: 10px;
    display: inline-block;
}

.banner-space {
    position: relative;
    width: 100%;
    height: 58px;
}

.first-break { display: none; }
.second-break { display: none; }

@media screen and (max-width: 1000px) {
    .banner { margin-top: -6px; }
}

@media screen and (max-width: 800px) {
    .second-break { display: initial; }
    .banner-space { height: 84px; }
}

@media screen and (max-width: 550px) {
    .first-break { display: initial; }
    .banner-space { height: 103px; }
    .extra-space { display: none; }
}
