.container {
    text-align: center;
    margin-top: 20px;
}

.card-element {
    max-width: 500px;
    width: 90%;
    display: inline-block;
}

.button {
    margin-left: 10px;
    display: inline-block;
}
.button > button {
    background-color: white !important;
    height: 32px !important;
    line-height: 32px !important;
}
