.modal-container {
    padding: 50px 70px;
    background: var(--primary-black-dark);
    color: var(--secondary-gray);
    font-size: 18px;
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.modal-container > div:first-child {
    color: var(--primary-cyan);
    font-size: 22px;
}
.modal-container > div:not(:first-child) {
    margin-top: 20px;
}
.modal-container > div:nth-child(3) >div {
    display: inline-block;
}
.modal-container > div:nth-child(3) >div:first-child {
    cursor: pointer;
    margin-right: 10px;
}
.modal-container > div:nth-child(3) >div:first-child:hover {
    color: var(--primary-white);
}
.modal-container > div:nth-child(3) >div:nth-child(3) {
    cursor: pointer;
    margin-left: 10px;
}
.modal-container > div:nth-child(3) >div:nth-child(3):hover {
    color: var(--primary-white);
}

.select-plan {
    color: var(--primary-white);
    cursor: default;
}
.select-plan > span {
    color: var(--primary-cyan);
    cursor: pointer;
}
.select-plan > span:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .modal-container {
        font-size: 14px;
        padding: 20px 40px;
    }
    .modal-container > div:first-child {
        font-size: 18px;
    }
    .modal-container > div:not(:first-child) {
        margin-top: 10px;
    }
}
