.header > textarea {
    display: inline-block;
    line-height: 6px;
    padding-top: 8px;
    color: var(--primary-cyan);
    background-color: var(--black-deep-dark);
    resize: none;
}

.header > div {
    display: inline-block;
}

.header > img {
    display: inline-block;
    height: 15px;
    cursor: pointer;
}

.header.edit > img {
    margin-top: -12px;
}
