.checklist-container {
    width: calc(100% - 140px);
    height: 85px;
    bottom: 0%;
    position: fixed;
    vertical-align: top;
    z-index: 99;
}
.checklist-container.absolute {
    position: absolute;
}
.checklist {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-right: 1px solid var(--primary-black-dark);
    background: var(--primary-black-light);
}
.checklist-item {
    flex: 1;
    width: 100%;
    color: var(--secondary-gray);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--primary-black-dark);
}
.complete-mark {
    --checkmark-width: 20px;
    width: var(--checkmark-width);
    height: var(--checkmark-width);
    border-radius: var(--checkmark-width);
    margin: 0 12px 0 18px;
    position: relative;
}
.complete-mark > div {
    position: absolute;
    --border-width: calc(var(--checkmark-width) / 10);
    border-style: solid;
    border-color: var(--secondary-gray);
    border-left-width: var(--border-width);
    border-bottom-width: var(--border-width);
    border-top-width: 0;
    border-right-width: 0;
    width: calc(var(--checkmark-width) / 1.5);
    height: calc(var(--checkmark-width) / 3);
    transform: rotate(-55deg) skew(-10deg);
    top: calc(var(--checkmark-width) / 4);
    left: calc(var(--checkmark-width) / 6);
}
.complete-mark.complete { background-color: #00c3ff; }
.complete-mark.incomplete { background-color: #525252; }
.complete-mark.complete > div { border-color: white; }

.box-cta {
    position: absolute;
    padding-top: 45px;
    width: calc(100%/4);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: var(--primary-cyan);
}
.box-cta > img {
    width: 10px;
    margin: 0 5px 2px 2px;
    margin-bottom: 4px;
    transform: translateX(0%);

    -webkit-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.box-cta:hover > img {
    transform: translateX(50%);
}

@media screen and (max-width: 1000px) {
    .checklist-container {
        width: 100%;
    }
    .box-cta {
        font-size: 14px;
    }
}


@media only screen and (max-width: 700px) {
    .checklist-container {
        display: none;
    }
}
