<!DOCTYPE html>
<html>
<head>
    <title>Moonshot</title>

    <meta name=“google-site-verification” content=“T_lTUAnkE9qGTseLjrG_gaojkzPhgqT6km-AAiyZ3hg” />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '359412301133416');
        fbq('track', 'PageView');
    </script>

    <noscript>
        <img alt="" height="1" width="1"
             src="https://www.facebook.com/tr?id=359412301133416&ev=PageView&noscript=1"
        />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <div id='app'><%- reactComponent-%></div>
    <script>window.INITIAL_STATE=<%- initialState -%></script>
    <script src='/bundle.js'></script>
</body>
</html>
