.container {
    max-width: 600px;
    padding: 20px 30px 0;
}

.invite-candidates-modal {
    color: var(--secondary-gray);
}
/* .invite-candidates-modal > div:not(:first-child) {
    margin-top: 8px;
} */
.email {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 100%;
    text-align: left;
    display: inline-block;
    padding: 10px;
    position: relative;
    -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
}
/* .invite-candidates-modal > div:nth-child(4) {
    margin-top: 15px;
} */
/* .invite-candidates-modal > div > div {
    margin-top: 5px;
    text-align: left;
} */
.email > div > div {
    margin-top: 5px;
}
