html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    min-width: 800px
}

:root {
    --moonshotLightBlue: #00d2ff;
    --moonshotMidBlue: #70cbff;
    --moonshotBlue: #66b1ff;
    --moonshotGreen: #3dffdd;
    --moonshotGreenText: #00e2ba;
    --moonshotPurple: #cf9bff;
    --moonshotDarkPurple: #B869FF;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

.headerSpace {
    width: 100%;
    height: 80px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
    padding: 10px;
}

.container .footer-text {
  margin: 20px 0;
}

.form{
  text-align: center;
  margin-top: 140px;
  margin-right: 15%;
  margin-bottom: 100px;
  margin-left: 15%;
  padding-bottom: 20px;
  padding-top: 10px;
}

.form-right{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.formOther{
  text-align: center;
  margin-top: 140px;
  display: inline-block;
  padding: 0 60px 15px 60px;
}

.button {
  margin-top: 12px;
}

.outlineButton {
    font-size: 30px;
    padding: 10px 20px 5px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.blueWhiteButton {
    background-color: #2de7ef;
    border: 2px solid white;
}

.whiteBlueButton {
    border: 2px solid var(--moonshotMidBlue);
    background-color: white;
    color: var(--moonshotMidBlue);
}

.whiteButton {
    background-color: white;
    color: var(--moonshotGreenText);
}

.menuItem {
    color: white;
    font-size: 20px;
    margin: 30px 10px 10px 10px;
}

.menuItem2 {
    color: var(--moonshotDarkPurple);
    font-size: 20px;
    margin: 30px 10px 10px 10px;
}

.menuDivider {
    width: 2px;
    height: 30px;
    background-color: white;
    margin: 15px 15px 0px 15px;
}

/* So that the menu text color is the same as the rest of the header */
.headerDropdown > div > div:nth-child(2) {
    color: white !important;
}

.clickable, .clickableNoUnderline { cursor: pointer; }
.clickable:hover { text-decoration: underline; }

.fullHeight {
    width: 100%;
    height: 750px;
    position: relative;
    overflow-x: hidden;
}

.halfHeight {
    width: 100%;
    height: 375px;
    position: relative;
    overflow-x: hidden;
}

.greenToBlue { background: linear-gradient(to top right, var(--moonshotGreen), var(--moonshotLightBlue)); }
.purpleToBlue { background: linear-gradient(to top right, var(--moonshotPurple), var(--moonshotBlue)); }

.messageHeader {
    margin-top: 90px;
    text-align: center;
    height: 40px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.errorHeader {
    background-color: rgb(255, 181, 181) !important;
}

.infoHeader {
    background-color: #21ea2182 !important
}

button.link {
  background: none;
  border: none;
  margin: 0;
  padding: 3px;
  outline: none;
  outline-offset: 0;
  color: white;
}

.dividerSmall { height: 50px; }

.boxStyle{
  display: inline-block;
  margin: 0 32px 0 32px;
}

.appBar{
  margin-top: 75px;
}

.dialog{
  display: flex;
  justify-content: center;
}

.youtubeDialog > div > div {
    max-width: none !important;
    width: 100% !important;
}

.infoBox {
    margin: auto;
    width: 70%;
    text-align: center;
    padding-top: 200px;
}

.pathwayHeaderText {
    margin-left: 50px;
    padding-top: 100px;
}

.noWrap { white-space: nowrap; }
.center { text-align: center; }
.centerButton { display:flex; justify-content: center; }

.gradientBorder {
    background: linear-gradient(to bottom right, var(--moonshotPurple), var(--moonshotGreen));
    padding: 4px;
}
.gradientBorder > div {
    background: white;
    height: 100%;
    width: 100%;
}
.semiOpaqueHoverable {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.semiOpaqueHoverable:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.pathwayImgContainer {
    display: inline-block;
    height: 168px;
    width: 224px;
    margin-top: 8px;
}

.horizCenteredList {
    text-align: center;
    padding-left: 0px;
}
.horizCenteredList li { display: inline-block; }
/* .horizCenteredList li:first-child { margin-left: 0px; } */
/* .horizCenteredList li:last-child { margin-right: 0px; } */

.pathwayPrevList li { margin: 0px 10px; }
.pathwayPrevIconList li { margin: 0px 3.2px; }

/* so that the pathway icons are all equally spaced out */
.pathwayPrevIconList > li > div {
    width: 72.8px;
    font-size: 11.2px;
}
.pathwayPrevListContainer {
    height: 352px;
    overflow-y: hidden;
}

.pathwayLandingIcons {
    height: 45px;
    width: 45px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.homepageBenefitsList {
    margin-top: 100px;
    padding-left: 40px;
}
.homepageBenefitsList li {  vertical-align: top; }

.homepageSeparatorContainer {
    position:relative;
}

.homepageSeparator {
  width: 160px;
  height: 160px;
  position: absolute;
  top: -80px;
  left: -180px;
  clip: rect(auto, 180px, auto, 100px);
  transform: scale(5, .03);
}

.homepageSeparator::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: linear-gradient(to bottom right, var(--moonshotPurple), var(--moonshotGreen));
  transform: rotate(-45deg);
}

.stepSeparatorLeft {
    border-right: 200px solid #B869FF;
    right: 50%;
}
.stepSeparatorRight {
    border-left: 200px solid #B869FF;
    left: 50%;
}
.stepSeparatorRight, .stepSeparatorLeft {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom: 0;
}
.linkSeparator {
    background-color: black;
    display: inline-block;
    margin: 0px 20px;
    height: 16px;
    width: 2px;
}


.bigText { font-size: 48px; }
.mediumText { font-size: 40px; }
.smallText3 { font-size: 30px; }
.smallText2 { font-size: 20px; }
.smallText { font-size: 15px; }
.tinyText { font-size: 8.8px; }
.greenText { color: var(--moonshotGreenText); }
.whiteText { color: white; }
.blueText { color: var(--moonshotLightBlue) }
.purpleText { color: var(--moonshotPurple) }
.darkPurpleText { color: var(--moonshotDarkPurple) }


.videoContainer {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    width: calc(100% - 470px);
    padding-top: 40%;
}
.videoContainer > span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.questionsContactUs {
    width: 400px;
    height: 100px;
    padding: 25px;
}
.scrollBarAndContactUs {
    width: 400px;
    display: inline-block;
    float: left;
    margin: 10px 30px 20px 0;
}
.stepScrollerContainer {
    height: 500px;
    width: 400px;
    margin-bottom: 20px;
}
.stepScrollerContainerInDrawer {
    height: 100%;
    width: 400px;
}
.drawerOpener {
    left: -300px;
    visibility: hidden;
    position: absolute;
}
.overviewAndCommentBox, .pathwayContent {
    display: inline-block;
    margin-left: 20px;
    width: calc(100% - 470px);
    margin-top: 10px;
}

.raisedButtonWhiteText > button > div > div > span {
    color: white !important;
}

.aboutMeLi > img:first-of-type {
    height: 40px;
    position: absolute;
}
.aboutMeLi {
    width: 50%;
    vertical-align: top;
    text-align: left;
    padding-left: 5%;
    font-size: 20px;
    margin-bottom: 30px;
}
.aboutMeLi > div:first-of-type {
    margin: 5px 70px 15px;
    color: #00d2ff;
    font-size: 26px;
}
.aboutMeLi > span > a {
    color: black;
    text-decoration: underline;
}
.textWithMargin {
    font-size: 20px;
    padding-top: 10px;
    margin: 0px 80px 50px 55px;
}




@media only screen and (max-width: 1000px) {
    .videoContainer {
        width: 90%;
        margin-left: 5%;
        min-width: 800px;
        padding-top: 56.25%
    }
    .scrollBarAndContactUs {
        margin-left: -800px;
    }
    .drawerOpener {
        visibility: visible;
        position: relative;
        width: 150px;
        display: block !important;
        margin: 10px auto;
        left: 0;
    }
    .overviewAndCommentBox, .pathwayContent {
        width: 100%;
    }
}

.myPathwaysTabs > div:first-of-type, .overviewExercisesComments > div:first-of-type {
    display: inline-block !important;
}
.myPathwaysTabs > div:nth-of-type(2) {
    margin-left: 30% !important;
}
.overviewExercisesComments > div:nth-of-type(2) {
    margin-left: 20% !important;
}


.halfWidthStepRight, .halfWidthStepLeft {
    text-align: left;
    width: 50%;
    float: left;
    position: relative;
    padding: 20px 3% 10px;
}
.halfWidthStepRight { padding: 20px 3% 10px 1%; }
.halfWidthStepLeft { padding: 20px 1% 10px 3%; }
.halfWidthStepRight > img, .halfWidthStepLeft > img {
    height: 80px;
    float: left;
    margin: 10px 20px 10px 20px;
}
.halfWidthStepText {
     float: left;
     margin-left: 10px;
     width: calc(100% - 130px);
}
.halfWidthStepNumber {
    color: #B869FF;
    font-size: 18px;
    margin-bottom: 3px;
}
.halfWidthStepDesc {
    height: 50px;
    overflow-y: hidden;
}
.halfWidthStepTitle {
    color: #B869FF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
}

.headerDiv {
    position: relative;
    height: 100px;
    width: 100%;
}

.profileSeparator {
    margin: 30px 0;
    width: 100%;
    height: 46px;
}
.profileSeparatorRect {
    color: white;
    background-color: #00d2ff;
    width: 300px;
    height: 46px;
    font-size: 20px;
    float: left;
    padding: 10px 0 0 80px;
}
.profileSeparatorTri {
    border-left: 40px solid #00d2ff;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    height: 0px;
    width: 0px;
    float: left;
}

/* decorative triangles */

.triangle{
  width: 160px;
  height: 160px;
  position: absolute;
  clip: rect(auto, 180px, auto, 100px);
  z-index: 10;
}

.triangle::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  transform: rotate(-45deg);
}

.whiteTriangle::after {
    background: linear-gradient(to top, rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.6));
}
.purpleTriangle::after { background: var(--moonshotPurple); }
.darkPurpleTriangle::after { background: var(--moonshotDarkPurple); }
.greenTriangle::after { background: var(--moonshotGreen); }

/* end decorative triangles */
