html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 67px;
  margin-bottom: 75px;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container .footer-text {
  margin: 20px 0;
}

.form{
  text-align: center;
  margin-top: 100px;
  margin-right: 15%;
  margin-bottom: 100px;
  margin-left: 15%;
  padding-bottom: 20px;
}

.button {
  margin-top: 12px;
}

.errorHeader {
    text-align: center;
    height: 40px;
    margin-top: -11px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(255, 181, 181) !important;
}

button.link {
  background: none;
  border: none;
  margin: 0;
  padding: 3px;
  outline: none;
  outline-offset: 0;
  color: white;
}

h1{
  color: #00B7FF;
  font-family: Roboto, sans-serif;
  padding-top: 5px;
}

h3{
  color: #00B7FF;
  font-family: Roboto, sans-serif;
  padding-top: 5px;
}
