html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 75px;
  margin-bottom: 75px;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container .footer-text {
  margin: 20px 0;
}

button.link {
  background: none;
  border: none;
  margin: 0;
  padding: 3;
  outline: none;
  outline-offset: 0;
  color: white;
}
