html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

:root {
    --moonshotBlue: #00d2ff;
    --moonshotGreen: #3dffdd;
    --moonshotPurple: #70cbff;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container .footer-text {
  margin: 20px 0;
}

.form{
  text-align: center;
  margin-top: 100px;
  margin-right: 15%;
  margin-bottom: 100px;
  margin-left: 15%;
  padding-bottom: 20px;
}

.formOther{
  text-align: center;
  margin-top: 10%;
  display: inline-block;
  padding: 0 60px 15px 60px;
}

.button {
  margin-top: 12px;
}

.fullHeight {
    width: 100%;
    height: 750px;
}

.greenToBlue {
    background: linear-gradient(to top right, var(--moonshotGreen), var(--moonshotBlue));
}

.messageHeader {
    margin-top: 56px;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.errorHeader {
    background-color: rgb(255, 181, 181) !important;
}

.infoHeader {
    background-color: #21ea2182 !important
}

button.link {
  background: none;
  border: none;
  margin: 0;
  padding: 3px;
  outline: none;
  outline-offset: 0;
  color: white;
}

h1{
  color: #00B7FF;
  font-family: Roboto, sans-serif;
  padding-top: 5px;
}

h3{
  color: #00B7FF;
  font-family: Roboto, sans-serif;
  padding-top: 5px;
}

.boxStyle{
  display: inline-block;
  margin: 0 32px 0 32px;
}

.appBar{
  margin-top: 75px;
}

.dialog{
  display: flex;
  justify-content: center;
}

.youtubeDialog > div > div {
    max-width: none !important;
    width: 100% !important;
}

.infoBox {
    margin: auto;
    width: 70%;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-top: 200px;
    white-space: nowrap;
}
