html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    min-width: 800px
}

:root {
    --moonshotLightBlue: #00d2ff;
    --moonshotMidBlue: #70cbff;
    --moonshotBlue: #66b1ff;
    --moonshotGreen: #3dffdd;
    --moonshotGreenText: #00e2ba;
    --moonshotPurple: #cf9bff;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container .footer-text {
  margin: 20px 0;
}

.form{
  text-align: center;
  margin-top: 100px;
  margin-right: 15%;
  margin-bottom: 100px;
  margin-left: 15%;
  padding-bottom: 20px;
}

.formOther{
  text-align: center;
  margin-top: 10%;
  display: inline-block;
  padding: 0 60px 15px 60px;
}

.button {
  margin-top: 12px;
}

.outlineButton {
    font-size: 30px;
    padding: 10px 20px 5px 20px;
    margin-top: 10px;
}

.blueWhiteButton {
    background-color: #2de7ef;
    border: 2px solid white;
}

.whiteBlueButton {
    border: 2px solid var(--moonshotMidBlue);
    background-color: white;
    color: var(--moonshotMidBlue);
}

.menuItem {
    color: white;
    font-size: 20px;
    margin: 30px 10px 10px 10px;
}

.menuDivider {
    width: 2px;
    height: 30px;
    background-color: white;
    margin: 15px 15px 0px 15px;
}

.clickable, .clickableNoUnderline { cursor: pointer; }
.clickable:hover { text-decoration: underline; }

.fullHeight {
    width: 100%;
    height: 750px;
}

.halfHeight {
    width: 100%;
    height: 375px;
}

.greenToBlue { background: linear-gradient(to top right, var(--moonshotGreen), var(--moonshotLightBlue)); }
.purpleToBlue { background: linear-gradient(to top right, var(--moonshotPurple), var(--moonshotBlue)); }

.messageHeader {
    margin-top: 56px;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.errorHeader {
    background-color: rgb(255, 181, 181) !important;
}

.infoHeader {
    background-color: #21ea2182 !important
}

button.link {
  background: none;
  border: none;
  margin: 0;
  padding: 3px;
  outline: none;
  outline-offset: 0;
  color: white;
}

.dividerSmall { height: 50px; }

.boxStyle{
  display: inline-block;
  margin: 0 32px 0 32px;
}

.appBar{
  margin-top: 75px;
}

.dialog{
  display: flex;
  justify-content: center;
}

.youtubeDialog > div > div {
    max-width: none !important;
    width: 100% !important;
}

.infoBox {
    margin: auto;
    width: 70%;
    text-align: center;
    padding-top: 200px;
}

.noWrap { white-space: nowrap; }

.gradientBorder {
    background: linear-gradient(to bottom right, var(--moonshotPurple), var(--moonshotGreen));
    padding: 5px;
}
.gradientBorder > div {
    background: white;
    height: 100%;
    width: 100%;
}
.semiOpaqueHoverable {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.semiOpaqueHoverable:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.pathwayImgContainer {
    display: inline-block;
    height: 210px;
    width: 280px;
    margin-top: 10px;
}

.horizCenteredList {
    text-align: center;
    padding-left: 0px;
}
.horizCenteredList li { display: inline-block; }
.horizCenteredList li:first-child { margin-left: 0px; }
.horizCenteredList li:last-child { margin-right: 0px; }

.pathwayPrevList li { margin: 0px 20px; }
.pathwayPrevIconList li { margin: 0px 4px; }

/* so that the pathway icons are all equally spaced out */
.pathwayPrevIconList > li > div {
    width: 91px;
    font-size: 14px;
}
.pathwayPrevListContainer {
    height: 420px;
    overflow-y: hidden;
}

.bigText { font-size: 48px; }
.mediumText { font-size: 40px; }
.smallText { font-size: 15px; }
.tinyText { font-size: 11px; }
.greenText { color: var(--moonshotGreenText); }
.whiteText { color: white; }
.blueText { color: var(--moonshotLightBlue) }
