.powered-by {
    padding-left: 170px;
    margin-top: -10px;
}

.next-button > span {
    margin-right: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    transition:         all 0.3s ease;
}
.next-button:hover > span {
    margin:5px;
}


@media only screen and (max-width: 700px) {
    .powered-by {
        padding-left: 140px;
    }
}

@media only screen and (max-width: 500px) {
    .powered-by {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 400px) {
    .powered-by {
        padding-left: 10px;
    }
}
