.powered-by {
    padding-left: 170px;
    margin-top: -10px;
}

.next-button > span {
    margin-right: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    transition:         all 0.3s ease;
}
.next-button:hover > span {
    margin:5px;
}

.checklist-container {
    width: calc(100% - 140px);
    height: 60px;
    bottom: 0%;
    position: fixed;
    vertical-align: top;
    z-index: 100;
}
.checklist {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-right: 1px solid var(--primary-black-dark);
    background: var(--primary-black-light);
}
.checklist-item {
    flex: 1;
    width: 100%;
    color: var(--secondary-gray);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--primary-black-dark);
}
.complete-mark {
    --checkmark-width: 20px;
    width: var(--checkmark-width);
    height: var(--checkmark-width);
    border-radius: var(--checkmark-width);
    margin: 0 12px 0 18px;
    position: relative;
}
.complete-mark > div {
    position: absolute;
    --border-width: calc(var(--checkmark-width) / 10);
    border-style: solid;
    border-color: var(--secondary-gray);
    border-left-width: var(--border-width);
    border-bottom-width: var(--border-width);
    border-top-width: 0;
    border-right-width: 0;
    width: calc(var(--checkmark-width) / 1.5);
    height: calc(var(--checkmark-width) / 3);
    transform: rotate(-55deg) skew(-10deg);
    top: calc(var(--checkmark-width) / 4);
    left: calc(var(--checkmark-width) / 6);
}
.complete-mark.complete { background-color: #00c3ff; }
.complete-mark.incomplete { background-color: #525252; }
.complete-mark.complete > div { border-color: white; }

.box-cta {
    position: absolute;
    bottom: 4px;
    right: 5px;
    font-size: 12px;
    cursor: pointer;
    color: #d7d7d7;
}
.box-cta > img {
    width: 10px;
    margin: 0 5px 2px 2px;
    margin-bottom: 4px;
    transform: translateX(0%);

    -webkit-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.box-cta:hover > img {
    transform: translateX(50%);
}

.employer-box {
    width: 540px;
    height: 100%;
    margin: 40px auto;
    padding: 30px;
    background-color: var(--black-deep-dark);
    vertical-align: top;
    color: var(--secondary-gray);
    font-size: 16px;
    text-align: left;
    border: 2px solid var(--primary-white);
    -moz-box-shadow:    0px 1px 2px 2px var(--black-deep-dark);
    -webkit-box-shadow: 0px 1px 2px 2px var(--black-deep-dark);
    box-shadow:         0px 1px 2px 2px var(--black-deep-dark);

    -webkit-transition: -webkit-transition .5s;
    -moz-transition: -moz-box-shadow .5s;
    transition: box-shadow .5s;
}
.employer-box > div:nth-child(2) {
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    color: var(--primary-cyan);
}
.employer-box > div:nth-child(2) > img {
    width: 10px;
    margin: 0 5px 2px 2px;
    margin-bottom: 4px;
    transform: translateX(0%);

    -webkit-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.employer-box > div:nth-child(2):hover > img {
    transform: translateX(50%);
}

@media screen and (max-width: 1000px) {
    .checklist-container {
        width: 100%;
    }
}


@media only screen and (max-width: 700px) {
    .powered-by {
        padding-left: 140px;
    }
    .checklist-container {
        display: none;
    }
    .employer-box {
        width: 400px;
        font-size: 14px;
        padding: 10px;
    }
    .employer-box > div:nth-child(2) {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .powered-by {
        padding-left: 60px;
    }
    .employer-box {
        width: 280px;
        font-size: 12px;
        padding: 2px;
    }
    .employer-box > div:nth-child(2) {
        font-size: 12px;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .powered-by {
        padding-left: 10px;
    }
}
