.get-started-input {}


.my-candidates-screenshot {
    --device-scale: 0.46;
    position: absolute;
    left: 115%;
    top: 103%;
    width: calc(1350px * var(--device-scale));
    height: calc(846px * var(--device-scale));
    -webkit-transform: translate(-50%,-50%) rotate3d(.342,-.94,0,25deg) rotate(9deg);
    transform: translate(-50%,-50%) rotate3d(.342,-.94,0,25deg) rotate(9deg);
    -webkit-box-shadow: 7px 10px 22px -3px rgba(10,10,10,.8);
    box-shadow: 7px 10px 22px -3px rgba(10,10,10,.8);
}
.results-screenshot {
    --device-scale: 0.21;
    position: absolute;
    left: 49%;
    top: 61%;
    width: calc(1280px * var(--device-scale));
    height: calc(1977px * var(--device-scale));
    -webkit-transform: translate(-50%,-50%) rotate3d(.5,.866,0,16deg) rotate(-2deg);
    transform: translate(-50%,-50%) rotate3d(.5,.866,0,16deg) rotate(-2deg);
    -webkit-box-shadow: -7px 2px 29px 1px rgba(10,0,10,.7);
    box-shadow: -7px 2px 29px 1px rgba(10,0,10,.7);
}

.my-candidates-screenshot > img,
.results-screenshot > img {
    width: 100%;
    height: 100%;
}

.product-screenshots {
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    position: relative;
}

.get-started-button {
    margin-left: 4%;
}


.screenshot-left {
    float: left;
}
.screenshot-right {
    float: right;
    margin-right: 2%;
}
.screenshot-left > img, .screenshot-right > img {
    transition: all 0.2s ease-in;
    top: -50px;
    height: 270px;
    z-index: 10;
    width: 400px;
    position: absolute;
    -webkit-box-shadow: 0px 0px 50px 1px #00000073;
    box-shadow: 0px 0px 50px 1px #00000073;
}
.screenshot-left > img {
    margin: 30px 0 0 0;
    left: 2%;
}
.screenshot-right > img {
    right: 4%;
    margin: 30px 30px 0 0;
}

.screenshot-left-text {
    float: left;
    margin-left: 2%;
}
.screenshot-right-text {
    float: right;
    width: 43%;
}
.screenshot-left-text,
.screenshot-right-text {
    margin-top: 30px;
    width: 54%;
    overflow: auto;
    width: 45%;
}
.screenshot-left-text-container,
.screenshot-right-text-container {
    float: right;
    margin-left: 0px;
    text-align: left;
}

.screenshot-view {
    text-align: left;
    position: relative;
    margin: 0 5%;
    clear: both;
    height: 320px;
}


.stats-box {
    height: 210px;
    width: 280px;
    display: inline-block;
    margin: 0 25px 40px;
    vertical-align: top;
    padding: 2px;
    background: linear-gradient(to top left, var(--primary-white) , var(--primary-cyan));
}
.stats-box > div {
    padding: 20px 24px 0;
    background: var(--primary-black-dark);
    height: 100%;
    width: 100%;
}


.video-screenshot {
    position: absolute;
    width: 100%;
    height: 100%;
}
.video-screenshot > div:first-child {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 20;
}
.video-screenshot > img {
    height: 100%;
    position: absolute;
    right: 0;
}

.skew-image-cover {
    height: 100%;
    width: 19%;
    background-color: var(--primary-black-light);
    position: absolute;
    top: 0;
    transform: skewX(-32deg) translateX(301px);
    z-index: 25;
}


.video-companion {
    z-index: 30;
    background-color: var(--primary-black-light);
    height: 100%;
    width: 375px;
    position: absolute;
    top: 0;
}
.video-companion > div {
    width: 275px;
    position: absolute;
    top: 25px;
    right: 0;
}
.video-text {
    text-align: left;
    line-height: 1.7;
}
.video-button {
    margin-left: 18%;
    margin-top: 13px;
    padding: 4.5px 15px;
}

.video-container {
    width: 800px;
    background: linear-gradient(to right, #a88cfe, #7ed2fe);
    height: 220px;
    position: relative;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);

    -webkit-box-shadow: 0 0 80px 1px rgba(0,0,0,.5);
    -moz-box-shadow:    0 0 80px 1px rgba(0,0,0,.5);
    box-shadow:         0 0 80px 1px rgba(0,0,0,.5);

    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* gray box surrounding text and video */
.video-container > div {
    color: white;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    position: relative;
    left: 2px;
    top: 2px;
}


@media only screen and (max-width: 1050px) {
    .screenshot-left > img { left: 0%; }
    .screenshot-right > img { right: 0%; }

    .screenshot-left-text {
        width: 49%;,
        margin-left: 0;
    }
    .screenshot-right-text {
        width: 45%;
    }
    .screenshot-left-text-container {
        margin-left: 0px;
    }
    .screenshot-right-text-container {
        margin-right: 0px;
    }
}


@media only screen and (max-width: 1000px) {
    .screenshot-left > img, .screenshot-right > img {
        top: 0px;
        height: 216px;
        width: 320px;
        transition: all 0.2s ease-out;
    }

    .stats-box {
        height: 210px;
        width: 240px;
        margin: 0 20px 40px;
    }
    .stats-box > div {
        padding: 20px 0 0 10px;
    }
}


@media only screen and (max-width: 950px) {
    .skew-image-cover {
        transform: skewX(-30deg) translateX(240px);
        width: 21%;
    }

    .video-companion {
        width: 300px;
    }
    .video-companion > div {
        width: 235px;
    }
    .video-button {
        margin-top: 18px;
    }

    .video-container {
        width: 580px;
        height: 200px;
    }
}


@media only screen and (max-width: 900px) {
    .results-screenshot { --device-scale: .17; }
    .my-candidates-screenshot {
        --device-scale: .39;
        top: 95%;
    }

    .stats-box {
        height: 210px;
        width: 210px;
        margin: 0 10px 40px;
    }
}


@media only screen and (max-width: 800px) {
    .screenshot-view {
        text-align: center;
        height: 180px;
        display: table;
    }

    .screenshot-left > img, .screenshot-right > img {
        position: relative;
        margin-top: 60px;
    }
    .screenshot-right, .screenshot-left {
        float: none;
    }
    .screenshot-right > img {
        margin-left: 30px;
    }

    .screenshot-right-text {
        margin-left: 0px;
    }
    .screenshot-left-text {
        margin-top: 0;
    }
    .screenshot-left-text,
    .screenshot-right-text {
        margin: auto;
        float: initial;
        margin-left: 0px;
        width: 100%;
    }
    .screenshot-left-text-container, .screenshot-right-text-container {
        text-align: left;
        margin-left: 0px;
        margin-bottom: 20px;
        padding-left: 0;
        text-align: left;
        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 700px) {
    .my-candidates-screenshot {
        top: 262px;
        left: 92%;
    }
    .results-screenshot {
        top: 200px;
        left: 50%;
    }

    .product-screenshots {
        height: 250px;
    }

    .stats-box {
        height: 190px;
        width: 180px;
        margin: 0 8px 40px;
    }

    .video-screenshot,
    .skew-image-cover {
        display: none;
    }

    .video-companion {
        width: 100%;
    }
    .video-companion > div {
        width: 75%;
        left: 13%;
    }
    .video-text {
        text-align: center;
    }
    .video-button {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .video-container {
        width: 370px;
        height: 190px;
    }
}


@media only screen and (max-width: 600px) {
    .stats-box {
        height: 160px;
        width: 280px;
        display: block;
        margin: 20px auto;
    }
}


@media only screen and (max-width: 500px) {
    .screenshot-view {
        margin-bottom: -20px;
        margin: 0px;
        height: 160px;
    }

    .screenshot-left-text-container,
    .screenshot-right-text-container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .screenshot-right-text,
    .screenshot-left-text {
        height: 152px;
        overflow: visible;
        transform: none;
        width: 90%;
    }
    .screenshot-left-text-container {
        height: 135px;
    }
    .screenshot-left-text {
        height: 120px;
        margin-top: 0;
    }
    .screenshot-right-text { height: 160px; }
}


@media only screen and (max-width: 400px) {
    .results-screenshot {
        --device-scale: 0.13;
        top: 170px;
        left: 42%;
    }
    .my-candidates-screenshot {
        --device-scale: 0.31;
        top: 215px;
        left: 104%;
    }

    .get-started-button {
        margin-left: 10px;
        width: 98px;
    }
    .get-started-input {
        margin-bottom: 12px;
        margin-left: 10px;
        width: 70%;
    }

    .screenshot-left > img, .screenshot-right > img {
        height: 172.8px;
        width: 256px;
    }
    .screenshot-right {
        margin-right: 0;
    }

    .video-container {
        width: 280px;
        margin-top: 12px;
    }
}
