.get-started-input {}


.my-candidates-screenshot {
    --device-scale: 0.46;
    position: absolute;
    left: 115%;
    top: 103%;
    width: calc(1350px * var(--device-scale));
    height: calc(846px * var(--device-scale));
    transform: translate(-50%,-50%) rotate3d(.342,-.94,0,25deg) rotate(9deg);
    box-shadow: 7px 10px 22px -3px rgba(10,10,10,.8);
}
.results-screenshot {
    --device-scale: 0.21;
    position: absolute;
    left: 49%;
    top: 61%;
    width: calc(1280px * var(--device-scale));
    height: calc(1977px * var(--device-scale));
    transform: translate(-50%,-50%) rotate3d(.5,.866,0,16deg) rotate(-2deg);
    box-shadow: -7px 2px 29px 1px rgba(10,0,10,.7);
}

.my-candidates-screenshot > img,
.results-screenshot > img {
    width: 100%;
    height: 100%;
}

.product-screenshots {
    height: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    position: relative;
}

.get-started-button {
    margin-left: 4%;
}


.screenshot-left {
    float: left;
}
.screenshot-right {
    float: right;
    margin-right: 2%;
}
.screenshot-left > img, .screenshot-right > img {
    transition: all 0.2s ease-in;
    top: -50px;
    height: 270px;
    z-index: 10;
    width: 400px;
    position: absolute;

    -webkit-box-shadow: 0px 0px 50px 1px #00000073;
    box-shadow: 0px 0px 50px 1px #00000073;
}
.screenshot-left > img {
    margin: 30px 0 0 0;
    left: 2%;
}
.screenshot-right > img {
    right: 4%;
    margin: 30px 30px 0 0;
}


@media only screen and (max-width: 1050px) {
    .screenshot-left > img { left: 0%; }
    .screenshot-right > img { right: 0%; }
}

@media only screen and (max-width: 1000px) {
    .screenshot-left > img, .screenshot-right > img {
        top: 0px;
        height: 216px;
        width: 320px;
        transition: all 0.2s ease-out;
    }
}


@media only screen and (max-width: 900px) {
    .results-screenshot { --device-scale: .17; }
    .my-candidates-screenshot {
        --device-scale: .39;
        top: 95%;
    }
}


@media only screen and (max-width: 800px) {
    .screenshot-left > img, .screenshot-right > img {
        position: relative;
        margin-top: 60px;
    }
    .screenshot-right, .screenshot-left {
        float: none;
    }
    .screenshot-right > img {
        margin-left: 30px;
    }
}


@media only screen and (max-width: 700px) {
    .my-candidates-screenshot {
        top: 262px;
        left: 92%;
    }
    .results-screenshot {
        top: 200px;
        left: 50%;
    }

    .product-screenshots {
        height: 250px;
    }
}


@media only screen and (max-width: 400px) {
    .results-screenshot {
        --device-scale: 0.13;
        top: 170px;
        left: 42%;
    }
    .my-candidates-screenshot {
        --device-scale: 0.31;
        top: 215px;
        left: 104%;
    }

    .get-started-button {
        margin-left: 10px;
        width: 98px;
    }
    .get-started-input {
        margin-bottom: 12px;
        margin-left: 10px;
        width: 70%;
    }

    .screenshot-left > img, .screenshot-right > img {
        height: 172.8px;
        width: 256px;
    }
    .screenshot-right {
        margin-right: 0;
    }
}
