.nav-circle {
    --color-1: var(--secondary-gray);
    --color-2: var(--primary-black-light);
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background: linear-gradient(to bottom right, var(--color-1), var(--color-2));
    display: inline-block;
    margin: auto 10px;
    cursor: pointer;
}

.nav-circle.selected {
    --color-1: var(--primary-white);
    --color-2: var(--primary-cyan);
}

.nav-circle.disabled {
    cursor: not-allowed;
}
