.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    left: 50%;
    margin: 10px auto 0;
}

.social-icons img {
    vertical-align: sub;
}

.footer-moonshot-logo {
    width: 130px;
}
.footer {
    background-color: #3c3c3c;
    padding-top: 20px;
}
.footer-container {
    z-index: 1000;
    position: relative;
}
