.notification {
    margin-top: -20px;
    text-align: center;
    position: fixed;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1000;
    color: white !important;
}
.notification.account-admin-notification {
    margin-top: 20px;
    width: calc(100% - 140px);
}
.notification.shift-down {
    transform: translateY(200%);
}

.errorHeader {
    background: linear-gradient(to right, #e83c53, #fb553a);
}

.infoHeader {
    background: linear-gradient(to right, #72d6f5, #9a73d9);
}

.notification-message {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.close-button {
    position: absolute;
    right: 0;
    padding: 3px;
    top: 0px;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .notification.account-admin-notification {
        margin-top: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .notification {
        margin-top: -72px;
    }
    .notification.account-admin-notification {
        margin-top: 0px;
    }
}
