.admin-content {
    width: calc(100% - 125px);
    margin-left: 125px;
    display: inline-block;
}

@media screen and (max-width: 700px) {
    .admin-content {
        width: 100%;
        margin-left: 0;
    }
}
